<!-- Constant column spans -->
<div class="o-grid-container">
	<div class="o-grid-row">
	  <% for(var i = 0; i < headlineList.headlines.length; i++) { %>
		 	<!-- <div data-o-grid-colspan="3"> -->
			<div data-o-grid-colspan="12 Sone-half Mone-hals Lone-quarter" class="first-column">
				<div class="demo-cell">
					<img class="o-image-wrapper" src="<%= headlineList.headlines[i].image() %>" alt="">
					<div class="o-teaser__theme"><%= headlineList.headlines[i].theme() %></div>
					<div class="o-teaser__heading"><%= headlineList.headlines[i].text() %></div>
					<p class="o-teaser__summary"><%= headlineList.headlines[i].subheading() %></p>
				</div>
			</div>
	 	<% } %>;
	</div>
</div>
