<!-- Constant column spans -->
<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
		<div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
		<div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
		<div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
    <div data-o-grid-colspan="3"><div class="demo-cell">Headline</div></div>
	</div>
</div>
