<div class="o-grid-container" role="group">
	<div class="o-grid-row role="group"">

	  <% for(var i = 0; i < headlineList.headlines.length; i++) { %>
			<article data-o-grid-colspan="12 Sone-half Mone-hals Lone-quarter" class="first-column">
				<div class="single-cell" role="article">
					<img class="o-image-wrapper" src="<%= headlineList.headlines[i].image() %>" alt="">
					<div class="o-teaser__theme"><%= headlineList.headlines[i].theme() %></div>
					<div class="o-teaser__heading"><%= headlineList.headlines[i].text() %></div>
					<p class="o-teaser__summary"><%= headlineList.headlines[i].subheading() %></p>
				</div>
			</article>
	 	<% } %>;

	</div>
</div>
