<div class="o-buttons__pagination" role="navigation" aria-label="Pagination Navigation">
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"><span class="o-buttons-icon__label">Fewer results</span></button>
	<button class="o-buttons" aria-label="Goto Page 1" aria-selected="true">1</button>
	<button class="o-buttons" aria-label="Goto Page 2">2</button>
	<button class="o-buttons" aria-label="Goto Page 3">3</button>
	<button class="o-buttons" aria-label="Goto Page 4">4</button>
	<button class="o-buttons" id="pagination-page-five" aria-label="Goto Page 5">5</button>
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class="o-buttons-icon__label">More results</span></button>
</div>
