<div class="o-forms">
  <form class="form-inline" method="POST" action="/search" role="search" aria-label="Headlines search">
    <label aria-describedby="text-box-info" for="o-forms-standard" class="o-forms__label"></label>
    <input class="o-forms__text" id="o-forms-standard" type="text" autocomplete="off" aria-label="Search through headlines" placeholder="Search the FT" name="search" value="">
    <button class="o-buttons o-buttons--primary o-buttons--mono o-buttons--big" type="submit" aria-controls="search-headlines">Search</button>
  </form>
</div>
