<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Financial Headlines</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include partials/coreVsEnhanced %>
  </head>

  <body>

    <% include partials/header %>

    <br />

    <div class="o-error-container">
      <h1 class="o-typography-product-heading-level-1">Sorry</h1>
      <p class="o-typography-product-heading-level-6">The page you are trying to access does not exist.</p>
      <p class="o-typography-product-heading-level-6">This might be because you have entered the web address incorrectly or the page has moved.<p>
      <p class="o-typography-product-heading-level-6">For help please visit help.ft.com.</p>
      <p class="o-typography-product-heading-level-6">We apologise for any inconvenience.</p>
    </div>

    <br />

    <% include partials/footer %>

  </body>

  <% include partials/scripts %>

</html>
