<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Financial Headlines</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include partials/coreVsEnhanced %>
  </head>

  <body>

    <% include partials/header %>

    <br />

    <% include partials/searchbar %>

    <br />

    <% include partials/headlines %>

    <br />

    <% include partials/pagination %>

    <br />

    <% include partials/footer %>

  </body>

  <% include partials/scripts %>

</html>
