body {
  background-color: #fff1e5;
}

h1 {
  font-family: MetricWeb, sans-serif;
  font-size: 50px;
}

p {
  font-family: MetricWeb, sans-serif;
  font-size: 25px;
}

.o-error-container {
  padding-left: 150px;
  padding-top: 20px;
}

.o-buttons__pagination {
  text-align: center;
}

.o-forms {
  display: inline;
  text-align: center;
}

.o-forms__text {
  text-align: center;
}

.o-grid-container {
  text-align: center;
}

.single-cell {
  padding-bottom: 12px;
}

.o-image-wrapper {
  width: 100%;
}

.o-teaser {
  box-sizing: border-box;
  font-family: MetricWeb, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.o-teaser__theme {
  border: 0;
  color: #990f3d;
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
  margin-top: 2px;
  text-align: left;
  text-decoration: none;
}

.o-teaser__heading {
  color: #000;
  font-family: FinancierDisplayWeb, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 3px;
  text-align: left;
}

.o-teaser__summary {
  color: #66605c;
  font-family: MetricWeb, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  text-align: left;
}

@media only screen and (max-width: 992px) {
  .o-error-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .o-error-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .o-footer__matrix-group {
    display: none;
  }
  #o-footer-section-2 {
    display: none;
  }
  #o-footer-section-3 {
    display: none;
  }
  .o-footer__matrix-title {
    display: none;
  }
  #pagination-page-five {
    display: none;
  }
}
