body {
  background-color: #FFF1E5;
}

.o-buttons__pagination {
  text-align: center;
}

.o-forms {
  text-align: center;
  display: inline;
}

.o-forms__text {
  text-align: center;
}

.o-grid-container {
  text-align: center;
}

.demo-cell {
  padding-bottom: 12px;
}

.o-image-wrapper {
  width: 100%;
}

.o-teaser {
  font-family: MetricWeb, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.o-teaser__theme {
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
  color: #990F3D;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 0px;
  border: 0;
  text-align: left;
}

.o-teaser__heading {
  color: #66605c;
  font-family: FinancierDisplayWeb, serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: left;
}

.o-teaser__summary {
  font-family: MetricWeb, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #66605c;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .o-footer__matrix-group {
    display: none;
  }
  #o-footer-section-2 {
    display: none;
  }
  #o-footer-section-3 {
    display: none;
  }
  .o-footer__matrix-title {
    display: none;
  }
  #pagination-page-five {
    display: none;
  }
}
